/* right ad area */
.GssDD {
  display: none !important;
}

/* navigation ad area */
.Ogqyq {
  display: none !important;
}

/* left other products bar */
.QVF0n {
  display: none !important;
}

/* groups in navigation */
.slWCo > div > div:nth-of-type(3) {
  display: none !important;
}

/* meet now button */
#owaMeetNowButton_container {
  display: none !important;
}

/* remove border radius on new mail button */
.ms-Button {
  border-radius: 0 !important;
}

.splitPrimaryButton {
  border-radius: 0 !important;
}

/* remove padding right from navigation selection */
.slWCo {
  padding-right: 0 !important;
}

/* ad area on top (it dissapears) */
.cJ3F3 {
  display: none !important;
}

.kk1xx.iIsOF {
  display: none !important;
}

/* empty e-mail on top when reading list is enabled */
.jYY8g {
  display: none !important;
}

/* remove From, Subject, Received header so e-mails don't move on load */
.s8wta {
  display: none !important;
}

/* restore fat scrollbars */
.customScrollBar {
  scrollbar-width: unset !important;
}

/* try microsoft 365 basic, bottom of navigation */
.syTot {
  display: none !important;
}
