.dark {
    blk: #000000;
    rd:  #A31515;
    grn: #008000;
    ylw: #74531F;
    blu: #1F377F;
    prp: #8F08C4;
    cyn: #2B91AF;
    gry: #808080;
}

.light {
    blk: #555555;
    rd:  #FF0000;
    grn: #00FF00;
    ylw: #FF8000;
    blu: #0000FF;
    prp: #FF00FF;
    cyn: #00FFFF;
    gry: #FFFFFF;
}

.all {
    bk: #FAFAFA;
    fg: #212121;
}