0 1 * * *     /home/igor/certbot/renew.sh >> /home/igor/certbot/renew.log 2>&1
0 * * * *     /home/igor/outlook/keepalive.sh >> /home/igor/outlook/keepalive.log 2>&1
0 9 10 * *   /home/igor/rent/rent.sh >> /home/igor/rent/rent.log 2>&1
