@reboot         /home/igor/arch/scripts/updates.sh
0    * * * *    /home/igor/arch/scripts/updates.sh
*/15 * * * *    /usr/bin/node /home/igor/arch/dns/dns.js
*/5  * * * *    /home/igor/arch/scripts/dpms.sh