# This is the OpenMW user 'settings.cfg' file.  This file only contains
# explicitly changed settings.  If you would like to revert a setting
# to its default, simply remove it from this file.  For available
# settings, see the file 'files/settings-default.cfg' in our source repo or the documentation at:
#
#   https://openmw.readthedocs.io/en/master/reference/modding/settings/index.html

[Camera]
viewing distance = 24576

[Fog]
sky blending start = 0.8
radial fog = true
sky blending = true

[Post Processing]
chain = 
enabled = false

[Saves]
character = Igor

[Video]
resolution x = 1920
resolution y = 1200
vsync = false
window mode = 2
window border = true
antialiasing = 16
framerate limit = 0
minimize on focus loss = false

[Windows]
settings h = 0.408333
settings w = 0.333333
settings x = 0.323438
settings y = 0.353333

[Game]
NPCs avoid collisions = true
rebalance soul gem values = true
show melee info = true
smooth movement = true
turn to movement direction = true
show owned = 3
show effect duration = true
show projectile damage = true
show enchant chance = true

[Shaders]
lighting method = shaders
apply lighting to environment maps = true
minimum interior brightness = 0.5
antialias alpha test = true
auto use object normal maps = true
auto use object specular maps = true
auto use terrain normal maps = true
auto use terrain specular maps = true
soft particles = true
max lights = 32
force shaders = true
force per pixel lighting = true
clamp lighting = false

[Terrain]
distant terrain = true
object paging = true

[Input]
grab cursor = false
always run = true
camera sensitivity = 0.824062

[Water]
reflection detail = 5
refraction = true
rtt size = 2048
shader = true
rain ripple detail = 2

[GUI]
color topic enable = true
stretch menu background = true
scaling factor = 1.25

[Map]
global = false
allow zooming = true

[Shadows]
actor shadows = true
enable shadows = true
object shadows = true
player shadows = true
terrain shadows = true
shadow map resolution = 4096

[General]
anisotropy = 16
texture mipmap = linear
