<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="games-menu" label="games">

    <item label="Project Diablo 2" icon="/usr/share/icons/Papirus/16x16/apps/doom3.svg">
      <action name="Execute">
        <execute>/home/igor/arch/tint2/menu.sh pd2</execute>
      </action>
    </item>

    <item label="OpenMW" icon="/usr/share/icons/Papirus/16x16/apps/openmw.svg">
      <action name="Execute">
        <execute>/home/igor/arch/tint2/menu.sh openmw</execute>
      </action>
    </item>

    <item label="Quake III Arena" icon="/usr/share/icons/Papirus/16x16/apps/quake3.svg">
      <action name="Execute">
        <execute>/home/igor/arch/tint2/menu.sh quake3</execute>
      </action>
    </item>

    <item label="OpenJK" icon="/usr/share/pixmaps/openjo.png">
      <action name="Execute">
        <execute>/home/igor/arch/tint2/menu.sh openjk</execute>
      </action>
    </item>

    <item label="World of Warcraft" icon="/usr/share/icons/Papirus/16x16/apps/wargus.svg">
      <action name="Execute">
        <execute>/home/igor/arch/tint2/menu.sh wow</execute>
      </action>
    </item>

  </menu>
</openbox_menu>
