[Desktop Entry]
Version=1.0
Name=mspaint
Comment=mspaint
Type=Application
Categories=Development;
Exec=chromium --new-window --app=https://jspaint.app
Terminal=false
StartupNotify=false
Icon=mspaint2