[Desktop Entry]
Version=1.0
Name=skype
Comment=skype
Type=Application
Categories=Development;
Exec=chromium --app=https://web.skype.com
Terminal=false
StartupNotify=false
Icon=skype