[Desktop Entry]
Version=1.0
Name=ssh-sqlite-manager
Comment=Shell-centric MongoDB management tool
Type=Application
Categories=Development;
Exec=/opt/ssh-sqlite-manager-linux-x64/ssh-sqlite-manager
Terminal=false
StartupNotify=true
Icon=electron
