[Desktop Entry]
Version=1.0
Name=Microsoft Teams
Type=Application
Categories=Network;Application;
Exec=/usr/bin/apulse /usr/share/teams/teams --disable-namespace-sandbox --disable-setuid-sandbox
Terminal=false
StartupNotify=false
Icon=teams