[Desktop Entry]
Version=1.0
Name=Microsoft Teams
Type=Application
Categories=Network;Application;
Exec=/usr/bin/teams
Terminal=false
StartupNotify=false
Icon=teams